#myCanvas {
    height: 600px;
    width: 600px;
    background-color: grey;
    position: relative;
    float: left;
}

h6 {
    position: relative;
}

.circle {
    background-color: purple;
    border-radius: 50%;
    position: absolute;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100px;
    border-color: transparent transparent yellow transparent;
    position: absolute;
}


.rectangle {
	background-color: green;
    position: absolute;
}

.square {
	background-color: red;
    position: absolute;
}